@ionic-enterprise:registry=https://registry.ionicframework.com/
//registry.ionicframework.com/:_authToken=key_2912f32d5c574fd28d5e766833228896
//registry.npmjs.org/:_authToken=key_2912f32d5c574fd28d5e766833228896
